@charset "UTF-8";


body{

    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: blueviolet;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    cursor: pointer;
}


/*Pseudo-class = :*/
div:hover{  /*Seleciona ao pasar o mause*/
    background-color: blue;
}

div:visited{    /*Seleciona todos os links visitados*/
    background-color: brown;
}

div:active{
    background-color: aqua;     /*Seleciona o link ativo*/
}